pipeline/master.json
{
	"name": "master",
	"properties": {
		"activities": [
			{
				"name": "SendMail_Success",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline Childpipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-21.northcentralus.logic.azure.com:443/workflows/5fdf1a0df7a64d91bea07335227c855c/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=4ldSnXzD1U7rVg2_06QHgWOWSaf9fAb4FxzN8j6elrg",
					"method": "POST",
					"body": {
						"value": "{\n\t\"title\":\"Pipeline Run Successfully\",\n\t\"message\":\"base_data enrich pipeline was successful\",\n\t\"color\":\"GREEN\",\n\t\"dataFactoryName\":\"@{pipeline().DataFactory}\",\n\t\"pipelineName\":\"@{pipeline().Pipeline}\",\n\t\"pipelineRunId\":\"@{pipeline().RunId}\",\n\t\"time\": \"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline Childpipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Childpipeline1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SendMail_Failed",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline Childpipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-21.northcentralus.logic.azure.com:443/workflows/5fdf1a0df7a64d91bea07335227c855c/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=4ldSnXzD1U7rVg2_06QHgWOWSaf9fAb4FxzN8j6elrg",
					"method": "POST",
					"body": {
						"value": "{\n\t\"title\":\"Pipeline Run Failed\",\n\t\"message\":\"@{activity('Execute Pipeline Childpipeline1').error.message}\",\n\t\"color\":\"RED\",\n\t\"dataFactoryName\":\"@{pipeline().DataFactory}\",\n\t\"pipelineName\":\"@{pipeline().Pipeline}\",\n\t\"pipelineRunId\":\"@{pipeline().RunId}\",\n\t\"time\": \"@{utcnow()}\"\n}\n\n",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-03-21T05:26:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}